<ion-header>
  <ion-toolbar>
    <ion-title>secciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="saludo">
      <p>Bienvenido Sr/a xxxxxx
    </div>

    <div>
      <ion-button color="primary" (click)='logoutUser()'>Cerrar Sesión</ion-button>
    </div>

    <div id="contenido">
      <p>Seccion 1 <ion-button color="primary" routerLink="/registasist">Registrar asistencia</ion-button>
      <p>Seccion 3 <ion-button color="primary" routerLink="/registasist">Registrar asistencia</ion-button>
      <p>Seccion 2 <ion-button color="primary" routerLink="/registasist">Registrar asistencia</ion-button>
    </div>
  </div>
</ion-content>
